@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* background-color: #F8F8F8; */
}

@font-face {
    font-family: 'customfont';
    src: url('/Mufanpfs-owKgx.otf') format('opentype');
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #574f4f;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ed6a5a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ed6b5a8f;
}

:root {
    --heading-font: customfont;
    --navbar: 'Lato', sans-serif;
    --sub-heading: 'Shantell Sans', cursive;
    --head-font: 'Libre Baskerville',
        serif;
    --paragraph: 'Nunito Sans', sans-serif;
    --color1: #5CA4A9;
    --color2: #ed6a5a;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0 20px;
}

nav img {
    margin: 10px 0;
    height: 100px;
}

.navbar-items {
    display: flex;
    padding: 20px;
}

.navbar-items li {
    padding: 10px;
    margin: 0 15px;
}

.navbar-items li a {
    color: #000;
    font-family: var(--sub-heading);
    font-size: 18px;
}

.navbar-items .current {
    color: #f07021;
}


.inner-width {
    padding: 8% 10%;
}

header {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-gap: 1rem;
}

.header-content h1 {
    font-family: var(--head-font);
    font-size: 56px;
    margin: 0px 0 20px;
    background: -webkit-linear-gradient(50deg, #7286d3, #ed6a5a, #333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.07rem;
    text-transform: capitalize;
}

hr {
    width: 60%;
}

.header-content p {
    /* text-align: ; */
    margin: 40px 0;
    letter-spacing: 0.06rem;
    line-height: 1.6rem;
    font-family: var(--paragraph);
}

.header-photos img {
    display: block;
    height: 510px;
    width: 620px;
}

.ag-section {
    overflow-x: hidden;
}

.ag-section h2 {
    font-family: var(--head-font);
    font-size: 56px;
    text-align: center;
    margin: 8% 0;
    background: -webkit-linear-gradient(-80deg, #415cc9, #ffb74c, #f55959d3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.07rem;
}

.ag-section img {
    max-width: 100%;
}

.ag-format-container {
    width: 1160px;
    margin: 0 auto;

    position: relative;
}

.ag-timeline-block {
    padding: 300px 0;
}

.ag-timeline_title-box {
    padding: 0 0 30px;

    text-align: center;
}

.ag-timeline_tagline {
    font-size: 40px;
    color: rgb(84, 89, 95);
}

.ag-timeline_title {
    background-repeat: no-repeat;
    background-position: 50% 50%;

    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 80px;
}

.ag-timeline_item {
    margin: 0 0 50px;
    position: relative;
}

.ag-timeline_item:nth-child(2n) {
    text-align: right;
}

.ag-timeline {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    position: relative;
}

.ag-timeline_line {
    width: 2px;
    background-color: #393935;

    position: absolute;
    top: 2px;
    left: 50%;
    bottom: 0;

    overflow: hidden;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ag-timeline_line-progress {
    width: 100%;
    height: 20%;
    background-color: #FFB84C;
}

.ag-timeline-card_box {
    padding: 0 0 20px 50%;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 50% 20px 0;
}

.ag-timeline-card_point-box {
    display: inline-block;
    margin: 0 14px 0 -28px;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 -28px 0 14px;
}

.ag-timeline-card_point {
    height: 50px;
    line-height: 50px;
    width: 50px;
    border: 3px solid #FFB84C;
    background-color: #1d1d1b;

    text-align: center;
    font-family: var(--sub-heading);
    font-size: 20px;
    color: #FFF;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.js-ag-active .ag-timeline-card_point {
    color: #1d1d1b;
    background-color: #FFB84C;
}

.ag-timeline-card_meta-box {
    display: inline-block;
}

.ag-timeline-card_meta {
    margin: 10px 0 0;
    width: 400px;
    text-align: center;
    font-family: var(--heading-font);
    /* font-weight: bold; */
    letter-spacing: 0.05rem;
    font-size: 31px;
    color: #F16767;
    color: #415cc9;
}

.ag-timeline-card_item {
    display: inline-block;
    width: 45%;
    margin: -77px 0 0;
    /* background-color: #282828; */
    background-color: #BFACE2;
    opacity: 0;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);

    -webkit-transition: -webkit-transform .5s, opacity .5s;
    -moz-transition: -moz-transform .5s, opacity .5s;
    -o-transition: -o-transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s;

    position: relative;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 26px;
    box-shadow: 0px 35px 68px 0px rgba(54, 11, 90, 0.5), inset 0px -8px 16px 0px rgba(54, 11, 90, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
}

.js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    opacity: 1;

    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.ag-timeline-card_arrow {
    height: 18px;
    width: 18px;
    margin-top: 20px;
    background-color: #BFACE2;

    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    margin-left: calc(-18px / 2);
    margin-right: calc(-18px / 2);
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
    margin-left: -10px;

    right: auto;
    left: 0;
}

.ag-timeline-card_info {
    padding: 20px 30px;
}

.ag-timeline-card_img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ag-timeline-card_title {
    display: none;
    margin: 10px 0 0;
    line-height: 1.6rem;
    letter-spacing: 0.06rem;
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: 28px;
    font-weight: 100;
    color: #415cc9;
}

.ag-timeline-card_desc {
    line-height: 1.45;

    font-size: 16px;
    color: #FFF;
}


@media only screen and (max-width: 979px) {
    .ag-timeline_line {
        left: 30px;
    }

    .ag-timeline_item:nth-child(2n) {
        text-align: left;
    }

    .ag-timeline-card_box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
        padding: 0 0 20px;
    }

    .ag-timeline-card_meta-box {
        display: none;
    }

    .ag-timeline-card_point-box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
        margin: 0 0 0 8px;
    }

    .ag-timeline-card_point {
        height: 40px;
        line-height: 40px;
        width: 40px;
    }

    .ag-timeline-card_item {
        width: auto;
        margin: -65px 0 0 75px
    }

    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
        transform: translateX(200%);
    }

    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
        right: auto;
        left: 0;
    }

    .ag-timeline-card_title {
        display: block;
    }

    .ag-timeline-card_arrow {
        margin-top: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

    .ag-timeline-card_img {
        height: auto;
        width: auto;
    }
}

@media only screen and (max-width: 639px) {
    .ag-timeline_title {
        font-size: 60px;
    }

    .ag-timeline-card_info {
        padding: 10px 15px;
    }

    .ag-timeline-card_desc {
        font-size: 14px;
    }
}

@media only screen and (max-width: 479px) {}

@media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
        width: 750px;
    }

}

@media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
        width: 960px;
    }

}


/* Nearby locations */
.nearby-loc-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* grid-gap: 2rem; */
}

.nearby-loc-grid h2 {
    font-family: var(--head-font);
    font-size: 56px;
    margin: 28% 0;
    text-align: center;
    background: -webkit-linear-gradient(-80deg, #415cc9, #ffb74c, #f55959d3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.07rem;
    text-transform: capitalize;
}

.nearby-loc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin: 7% 0;
}

lottie-player {
    background-color: transparent;
    width: 350px;
    height: 300px;
}

.nearby-loc>div {
    /* margin: 0 auto; */
    padding: 5%;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 26px;
    box-shadow: -35px 35px 68px 0px rgba(37, 22, 5, 0.5), inset 8px -8px 16px 0px rgba(37, 22, 5, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.nearby-loc>div h4 {
    font-family: var(--heading-font);
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    color: #415cc9;
    letter-spacing: 0.2rem;
}

.nearby-loc>div h5 {
    font-family: var(--sub-heading);
    font-weight: 800;
    color: #415cc9b0;
    text-align: center;
    margin: 0 0 10px;
}

.nearby-loc>div img {
    display: block;
    height: 30px;
    margin: 0 auto;
    /* margin: 0 10px 0 0; */
}

.nearby-loc>div p {
    color: var(--color1);
    font-family: var(--paragraph);
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 0 10px 0;
    text-align: center;
}

.nearby-lottieplayer {
    height: 450px;
}

.nearby-loc-lottie_player {
    height: 140px;
}

/* FAQS */
.faq-head h2 {
    font-family: var(--head-font);
    text-align: center;
    letter-spacing: 0.07rem;
    margin: 8% 0;
    font-size: 56px;
    background: -webkit-linear-gradient(-80deg, #415cc9, #ffb74c, #f55959d3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.faq-container {
    max-width: 600px;
    margin: 0 auto;
}

.faq {
    background-color: transparent;
    font-family: var(--sub-heading);
    border: 1px solid #9fa4a8;
    font-size: 18px;
    color: #3b5998;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.faq.active {
    background-color: rgba(255, 255, 255, 0.152);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq.active::before,
.faq.active::after {
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    color: #2ecc71;
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.faq.active::before {
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}

.faq-title {
    margin: 0 35px 0 0;
}

.faq-text {
    display: none;
    margin: 30px 0 0;
    font-weight: 100;
}

.faq.active .faq-text {
    display: block;
}

.faq-toggle {
    background-color: transparent;
    color: #fd5949;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
}

.faq-toggle:focus {
    outline: 0;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    color: #fff;
    display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}

.faq.active .faq-toggle {
    background-color: #f07021;
}

/* FOOTER */

footer {
    background-color: #251605;
    color: #F6E27F;
    /* 5bff4c */
}

footer h2 {
    font-family: var(--head-font);
    font-size: 38px;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    letter-spacing: 0.07rem;
}


footer h2:before,
footer h2:after {
    content: "";
    flex: 1;
    border-bottom: 1px solid;
    margin: auto;
    color: #f07021;
}

footer h2 span {
    margin: 0 20px 0;
}

footer h3 {
    text-align: center;
    padding: 20px 0;
    color: #F8F8F8;
    line-height: 1.2rem;
    letter-spacing: 0.08rem;
    font-weight: 300;
    font-family: var(--sub-heading);
    text-transform: capitalize;
}

footer i {
    margin-right: 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    margin: 5% 0 2%;
    grid-gap: 2rem
}

.footer-grid img {
    display: block;
    margin: 0 auto;
    height: 150px;
}

.contact-no h4 a {
    font-family: var(--sub-heading);
    color: #F6E27F;
    font-size: 34px;
}

.social-link a {
    font-size: 24px;
    margin-right: 10px;
}

.social-link i {
    padding: 11px 13px;
    border-radius: 4px;
    color: #3b5998;
    background-color: #fff;
}

.social-link .fa-twitter {
    color: #00acee;
}

.social-link .fa-instagram {
    color: #Fff;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.footer-copyright {
    background-color: #251605;
    padding: 20px;
    color: #F8F8F8;
}

.footer-copyright h4 {
    text-align: center;
    font-family: var(--sub-heading);
    letter-spacing: 0.08rem;
    font-weight: 100;
}


/* ************************** */
/* MOBILE RESPONSIVE */
/* ************************** */

@media only screen and (max-width: 1080px) {
    .inner-width {
        padding: 7% 8%;
    }

    .header-content h1 {
        font-size: 46px;
    }

    .header-photos img {
        width: 525px;
    }

    .ag-section h2 {
        font-size: 46px;
    }

    .ag-format-container {
        width: 800px;
    }

    .ag-timeline-card_meta {
        font-size: 28px;
    }

    .nearby-loc-grid h2 {
        font-size: 46px;
    }

    .nearby-loc {
        grid-template-columns: 1fr 1fr;
    }

    .faq-head h2 {
        font-size: 46px;
    }

    .contact-no h4 a {
        font-size: 22px;
    }

    .social-link {
        display: flex;
        flex-direction: column;
    }

    .social-link i {
        margin: 0 0 20px;
    }
}


@media only screen and (max-width: 780px) {
    .inner-width {
        padding: 6% 6.5%;
    }

    nav img {
        height: 120px;
    }

    .navbar-items li a {
        font-size: 16px;
    }

    .header-photos img {
        height: 350px;
        width: 400px;
    }

    .header-content h1 {
        font-size: 36px;
    }

    .header-content p {
        font-size: 15px;
    }

    .ag-section h2 {
        font-size: 36px;
    }

    .ag-timeline-card_info {
        width: 350px;
        text-align: center;
    }

    .ag-timeline-card_title {
        font-size: 23px;
    }

    .nearby-loc-grid h2 {
        font-size: 36px;
    }

    .nearby-loc {
        grid-gap: 1.2rem;
        margin: 2.5% 0;
    }

    .nearby-loc>div h4 {
        font-size: 24px;
    }

    .faq-head h2 {
        font-size: 36px;
    }

    footer h2 span {
        font-size: 36px;
    }

    .footer-grid {
        grid-gap: 1rem;
    }

    .footer-grid img {
        height: 120px;
    }

    .social-link {
        display: block;
    }

    .social-link i {
        padding: 11px;
    }
}


@media only screen and (max-width: 450px) {
    nav {
        margin: 0 12px;
        justify-content: space-evenly;
    }

    nav img {
        height: 60px;
        margin: 10px 0;
    }

    .navbar-items {
        padding: 10px;
    }

    .navbar-items li {
        margin: 0;
    }

    .navbar-items li a {
        font-size: 14px;
    }

    header {
        grid-template-columns: 1fr;
    }

    .header-photos img {
        width: 100%;
    }

    .header-content p {
        margin: 20px 0;
    }

    .header-content h1 {
        font-size: 28px;
        text-align: center;
    }

    .ag-section h2 {
        font-size: 28px;
    }

    .ag-format-container {
        width: 320px;
    }

    .ag-timeline-card_title {
        font-size: 16px;
    }

    lottie-player {
        height: 200px;
        width: 250px;
    }

    .ag-timeline-card_info {
        width: 250px;
    }

    .nearby-loc-grid {
        grid-template-columns: 1fr;
    }

    .nearby-loc-grid h2 {
        font-size: 28px;
        margin: 12% 7% 7%;
    }

    .nearby-lottieplayer {
        height: 350px;
        width: 100%;
    }

    .nearby-loc-lottie_player {
        display: block;
        margin: 0 auto;
        height: 100px;
    }

    .nearby-loc {
        grid-template-columns: 1fr;
    }

    .loc-time-dist {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .nearby-loc>div img {
        height: 25px;
    }

    .loc-time-dist span {
        font-size: 14px;
    }

    .faq-title {
        font-size: 15px;
    }

    .faq-text {
        font-size: 14px;
    }

    .faq-head h2 {
        font-size: 28px;
    }

    .footer-grid {
        grid-template-columns: 1fr;
    }

    footer h2 span {
        font-size: 24px;
    }

    footer h3 {
        font-size: 12px;
    }

    .footer-grid img {
        height: 80px;
    }

    .contact-no h4 a {
        font-size: 17px;
    }

    .social-link i {
        font-size: 14px;
        padding: 8px;
    }

    .footer-copyright h4 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 380px) {
    .navbar-items li {
        padding: 7px;
    }

    nav img {
        height: 50px;
    }

    .navbar-items li a {
        font-size: 13px;
    }

    .header-content h1 {
        font-size: 24px;
    }

    .header-content p {
        font-size: 13px;

    }

    .ag-section h2 {
        font-size: 24px;
    }

    .ag-timeline-card_title {
        font-size: 14px;
    }

    lottie-player {
        width: 215px;
    }

    .ag-timeline-card_info {
        width: 220px;
    }

    .nearby-loc-grid h2 {
        font-size: 24px;
    }

    .nearby-lottieplayer {
        height: 250px;
    }

    .nearby-loc>div h4 {
        font-size: 20px;
    }

    .faq-head h2 {
        font-size: 24px;
    }

    .faq-title {
        font-size: 13px;
    }

    .faq-text {
        font-size: 13px;
    }

    footer h2 span {
        font-size: 22px;
    }

    .footer-grid img {
        height: 70px;
    }

    .contact-no h4 a {
        font-size: 14.5px;
    }
}